* {
  margin: 0;
  padding: 0;
}

body {
  background-color: azure;
}

.title {
  text-align: center;
}

.generated-password-container,
.criteria-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.generated-password {
  flex-direction: row;
  
}

#password-size {
  text-align: center;
  margin-top: 10vh;
}
.criteria-container{
  flex-direction: column;
}
.containerbox{
  width: 350px;
  background-color: orange;
  border-radius: 40px;
}
.boxcontainer{
  display: flex;
  justify-content: center;
}
